.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px;
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #8a478a47;
}

.contact-form-section {
  background: #f9fbff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 24px;
  color: #10096b;
  margin-bottom: 15px;
  text-align: center;
}

.contact-form .form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.contact-form .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 5px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #10096b;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #0d0757;
}

.contact-map {
  height: 100%;
  min-height: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr; 
  }
}
